<div class="banner">
    <header>
        <div class="container">
            <nav class="navigation">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-11 col-10">
                        <img class="navigation_logo" src="../assets/svg/logo.svg" alt="Finans Evim Logo">
                        <img class="navigation_logo-mobile" src="../assets/svg/logo-mobile.svg" alt="Finans Evim Logo">
                    </div>
                    <div class="col-lg-9 navigation_hide">
                        <ul class="navigation_unorder">
                            <li>
                                <a href="#">Değerlerimiz</a>
                            </li>
                            <li>
                                <a href="#">Finansevim’de Çalışmak</a>
                            </li>
                            <li>
                                <a href="#">SSS</a>
                            </li>
                            <li>
                                <a href="#">Kariyer</a>
                            </li>
                            <li>
                                <a href="#">Ailemize Katılmak İster Misiniz?</a>
                            </li>
                            <li>
                                <a href="#">İletişim</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navigation_logo-hamburger col-md-1 col-2">
                        <img src="../assets/svg/menu.svg">
                    </div>
                </div>


            </nav>
        </div>
    </header>
    <div class="banner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <h1 class="banner-title">Finansevim Ailesine</h1>
                    <h2 class="banner-title-second">Hoş Geldiniz!</h2>
                </div>
            </div>
            <div class="banner-boxes">
                <div class="row">
                    <div class="col-lg-6 col-6 banner-boxes-wrapper">
                        <div class="banner-boxes-first">
                            <h3>8 Mart <br>
                                Dünya Kadınlar Günü</h3>
                            <a href="#" class="banner-boxes-link">
                                <img src="../assets/svg/combined-shape.svg" alt="Kadınlar Günü">
                                <p>İzle</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6 banner-boxes-wrapper">
                        <div class="banner-boxes-second">
                            <h3>23 Nisan Çocuklarına <br>
                                100. Yıl Coşkusu</h3>
                            <a href="#" class="banner-boxes-link">
                                <img src="../assets/svg/combined-shape.svg" alt="23 Nisan">
                                <p>İzle</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6 banner-boxes-wrapper">
                        <div class="banner-boxes-third">
                            <h3>Finansevim’de <br>
                                Birlikten Güç Doğar!</h3>
                            <a href="#" class="banner-boxes-link">
                                <img src="../assets/svg/combined-shape.svg" alt="Finans Evim">
                                <p>İzle</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6 banner-boxes-wrapper">
                        <div class="banner-boxes-fourth">
                            <h3>24 Kasım <br>
                                Öğretmenler Günü</h3>
                            <a href="#" class="banner-boxes-link">
                                <img src="../assets/svg/combined-shape.svg" alt="24 Kasım Öğretmenler Günü">
                                <p>İzle</p>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-md banner-button">
                    Tüm Videolar
                    <img src="../assets/svg/arrow-right.svg" alt="Link icon">
                </button>
            </div>
        </div>
    </div>
</div>