<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <h1 class="banner-title">Finansevim Ailesine</h1>
                <h2 class="banner-title-second">Hoş Geldiniz!</h2>
            </div>
        </div>
        <div class="banner-boxes">
            <div class="row">
                <div class="col-lg-6 col-6 banner-boxes-wrapper">
                    <div class="banner-boxes-first">
                            <h3>8 Mart <br>
                                Dünya Kadınlar Günü</h3>
                            <a href="#" class="banner-boxes-link">
                                <img src="../assets/svg/combined-shape.svg" alt="Kadınlar Günü">
                                <p>İzle</p>
                            </a>
                    </div>
                </div>
                <div class="col-lg-6 col-6 banner-boxes-wrapper">
                    <div class="banner-boxes-second">
                        <h3>23 Nisan Çocuklarına <br>
                            100. Yıl Coşkusu</h3>
                        <a href="#" class="banner-boxes-link">
                            <img src="../assets/svg/combined-shape.svg" alt="23 Nisan">
                            <p>İzle</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-6 banner-boxes-wrapper">
                    <div class="banner-boxes-third">
                        <h3>Finansevim’de <br>
                            Birlikten Güç Doğar!</h3>
                        <a href="#" class="banner-boxes-link">
                            <img src="../assets/svg/combined-shape.svg" alt="Finans Evim">
                            <p>İzle</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-6 banner-boxes-wrapper">
                    <div class="banner-boxes-fourth">
                        <h3>24 Kasım <br>
                            Öğretmenler Günü</h3>
                        <a href="#" class="banner-boxes-link">
                            <img src="../assets/svg/combined-shape.svg" alt="24 Kasım Öğretmenler Günü">
                            <p>İzle</p>
                        </a>
                    </div>
                </div>
            </div>
               <button class="btn btn-md banner-button">
                   Tüm Videolar
                   <img src="../assets/svg/arrow-right.svg" alt="Link icon">
               </button>
        </div>
    </div>

</div>