<header>
    <div class="container">
        <nav class="navigation">
            <div class="row">
                <div class="col-lg-3">
                    <img class="navigation_logo" src="../assets/svg/logo.svg" alt="Finans Evim Logo"> 
                </div>
                <div class="col-lg-9">
                    <ul class="navigation_unorder">
                        <li>
                            <a href="#">Değerlerimiz</a>
                        </li>
                        <li>
                            <a href="#">Finansevim’de Çalışmak</a>
                        </li>
                        <li>
                            <a href="#">SSS</a>
                        </li>
                        <li>
                            <a href="#">Kariyer</a>
                        </li>
                        <li>
                            <a href="#">Ailemize Katılmak İster Misiniz?</a>
                        </li>
                        <li>
                            <a href="#">İletişim</a>
                        </li>
                    </ul>
                </div>
            </div>
           
        
        </nav>
    </div>
    </header> 