<div class="our_values">
    <div class="container">
        <div class="our_values-content">
            <h1 class="our_values-content-title">DEĞERLERİMİZ</h1>
            <p class="our_values-content-text">"Size değerli olduğunuzu hissettirecek fırsatlar Finansevim’de”</p>
        </div>
        <div class="scheduler-col is-right">
            <div class="owl-carousel owl-theme">
                <div class="item" style=" width: 235px;
                height: 383px;  background-color: #fff;"><h4>Müşteri Odaklılık</h4>
                    <p>Güvenilir bilgi sağlamak, misyonumuz ve vizyonumuz çerçevesinde ilk önceliğimizdir.</p>
                    <span>
                        <img src="../assets/svg/user.svg">
                    </span>
                </div>
                <div class="item" style=" width: 235px;
                height: 383px;  background-color: #fff;"><h4>Yenilikçilik</h4>
                </div>
                <div class="item" style=" width: 235px;
                height: 383px;  background-color: #fff;"><h4>Doğruluk</h4></div>
                <div class="item" style=" width: 235px;
                height: 383px;  background-color: #fff;"><h4>Şeffaflık</h4></div>
                <div class="item" ><h4>Birliktelik</h4></div>
                <div class="item" ><h4>Tecrübe</h4></div>
                <div class="item" ><h4>Tecrübe</h4></div>
                <div class="item" ><h4>Tecrübe</h4></div>
               
            </div>
          
        </div>
      
    </div>
</div>