<div class="our_values">
    <div class="container">
        <div class="our_values-content">
            <h1 class="our_values-content-title">DEĞERLERİMİZ</h1>
            <p class="our_values-content-text">"Size değerli olduğunuzu hissettirecek fırsatlar Finansevim’de”</p>
        </div>

        <div class="scheduler-col">
            <div class="owl-carousel owl-theme">
                <div class="carousel-box first">
                    <div class="item" >
                        <h4>Müşteri Odaklılık</h4>
                        <p>Güvenilir bilgi sağlamak, misyonumuz ve vizyonumuz çerçevesinde ilk önceliğimizdir.</p>

                    </div>
                </div>
                <div class="carousel-box second">
                    <div class="item" >
                        <h4>Yenilikçilik</h4>
                        <p>Yenilikçi
                            bakış açımızla ile
                            sektöre değer katıyoruz.</p>
                    </div>
                </div>
                <div class="carousel-box third">
                    <div class="item" >
                        <h4>Doğruluk</h4>
                        <p>Doğruluk, gelişim kültürümüzün temelini oluşturuyor.</p>
                    </div>
                </div>
                <div class="carousel-box fourth">
                    <img src="../assets/img/slider-img.png">
                    <div class="item our_values-images" >
               
                        <h4>Şeffaflık </h4>
                        <p>Şeffaflık ilkemiz ile bütün çalışanlarımıza objektif yaklaşım sunuyoruz. </p>
                    </div>
                </div>
                <div class="carousel-box fifth">
                    <div class="item" >
                        <h4>Birliktelik</h4>
                        <p>Birlikteliğin gücümüze güç kattığını bilir, aynı hedefe sağlam adımlarla ilerleriz.
                        </p>
                    </div>
                </div>
                <div class="carousel-box sixth">
                    <div class="item" >
                        <h4>Tecrübe</h4>
                        <p>Büyüyen ve tecrübe sahibi olan ailemizle birlikte öncü çalışmalara imza atmaya önem veririz.
                        </p>
                    </div>
                </div>
                <div class="carousel-box sixth">
                    <div class="item" >
                        <h4>Müşteri Odaklılık</h4>
                        <p>Güvenilir bilgi sağlamak, misyonumuz ve vizyonumuz çerçevesinde ilk önceliğimizdir.</p>

                    </div>
                </div>
                <div class="carousel-box sixth">
                    <div class="item" >
                        <h4>Müşteri Odaklılık</h4>
                        <p>Güvenilir bilgi sağlamak, misyonumuz ve vizyonumuz çerçevesinde ilk önceliğimizdir.</p>

                    </div>
                </div>
                <div class="carousel-box sixth">
                    <div class="item" >
                        <h4>Müşteri Odaklılık</h4>
                        <p>Güvenilir bilgi sağlamak, misyonumuz ve vizyonumuz çerçevesinde ilk önceliğimizdir.</p>

                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>