.banner {
     background: url(../img/bitmap.png), linear-gradient(to bottom, rgba(5, 35, 61, 0), #061d31 0%);
     background-repeat: no-repeat;
     padding-bottom: 200px;
     padding-top: 228px;
     &-title {
         font-size: 42px;
        font-weight: 300;
        text-align:center;
        color: #fff;
        &-second {
            font-size: 45px;
            font-weight: bold;
            text-align:center;
            color: #fff;
        }
     }
     &-boxes {
         padding-top: 213px;
        &-wrapper {
            padding: 0;
        }
         &-first {
             background-image: url(../img/banner-box-1.png);
         }
         &-second {
             background-image: url(../img/banner-box-2.png);

         }
         &-third {
             background-image: url(../img/banner-box-3.png);

         }
         &-fourth {
             background-image: url(../img/banner-box-4.png);

         }
         &-first,
         &-second,
         &-third,
         &-fourth {
             height: 257px;
             display: flex;
             justify-content: space-between;
             flex-direction: column;
             padding: 42px 0 49px 40px;
             h3 {
                font-size: 22px;
                font-weight: 300;
                letter-spacing: -0.24px;
                color: #ffffff;
             }
         }
         &-link {
             display: flex;
             align-items: center;
             text-decoration: none;

             p {
                font-size: 14px;
                font-weight: 500;
                color: #ffffff;
                margin: 0;
                margin-left: 9px;
             }
         }
     }
    &-button {
        border: 1px solid #fff;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        margin: auto;
        display: flex;
        align-items: center;
        margin-top: 40px;
        padding: 15px 16px 16px 35px;
        img {
            margin-left: 27px;
        }
        &:hover {
            color: #fff;
        }
    }
}


@media screen and (max-width: 415px) {
    .banner {
        background-position: center;
        padding-top: 128px;
        &-title {
            font-size: 33.6px;
            &-second {
                font-size: 35.8px;
                width: 50%;
                margin: auto;
            }
        }
        &-boxes {
            &-first,
            &-second,
            &-third,
            &-fourth {
                height: 154px;
                padding: 23px 0 20px 20px;
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
}