header {
    background-image: url(../svg/rectangle.svg),linear-gradient(to bottom, rgba(5, 35, 61, 0), #061d31 100%);
    .navigation {
        padding-top: 34px;
        padding-bottom: 10px;
        &_unorder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding-left: 0;
            margin: 0;
            li {
                a {
                    text-decoration: none;
                    color: #fff;

                }
            }
        }
        &_logo-hamburger {
            display: none;
        }
        &_logo-mobile {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    header {
        .navigation {
            &_logo-hamburger {
                display: block;
            }
            &_hide {
                display: none;
            }
            &_logo {
                display: none;
            }
            &_logo-mobile {
                display: block;
            }
        }
    }
}
@media screen and (max-width: 415px) {
    header {
        .navigation {
            padding-top: 20px;
        }
    }
}

