.our_values {
    background-image: linear-gradient(342deg, #ffa409 51%, #ff8808 18%);
    height: 738px;
    padding-top: 56px;
    margin-bottom: 100px;
    overflow: hidden;
    &-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 80px;
        &-title {
            font-size: 40px;
            font-weight: 300;
            letter-spacing: -0.43px;
        }
        &-text {
            font-size: 19px;
            font-weight: 300;
            font-style: italic;
            letter-spacing: -0.2px;
            margin-top: 15px;
            margin-bottom: 0;
        }
        &-title,
        &-text {
            color: #fff;
            text-align: center;
        }
    }
    
    .scheduler-col {
      z-index: 3;
      border: 0px;
      position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left:80%;
          right:-3000px;
          z-index: -1;
        }
    }

      .carousel-box {
        width: 235px;
        height: 387px;
        background-color: #fff;
        &.first,
        &.second,
        &.third,
        &.fourth,
        &.fifth,
        &.sixth {
          background-repeat: no-repeat;
          background-position: left bottom;
        }
        
        &.first {
          background-image:  url(../svg/user.svg);
         
        }
        &.second {
          background-image:  url(../svg/settings.svg);
        }
        &.third {
          background-image:  url(../svg/book.svg);
        }
        &.fourth {
          background-image:  url(../svg/transparent.svg);
          height: 417px;
          position: relative;
          top: -15px;
        }
        &.fifth {
          background-image:  url(../svg/shape.svg);
        }
        &.sixth {
          background-image:  url(../svg/user.svg);
        }
        
        h4 {
          font-size: 21px;
          font-weight: 500;
          color: #05233d;
          margin-bottom: 19px;
          text-align: center;
        }

       
        p {
          font-size: 15px;
          font-weight: 300;
          line-height: 1.4;
          color: #6b6b6b;
          text-align: center;
          padding: 0 25px 0 25px;
        }
        .item {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         width: 235px;
         height: 387px;
         &.our_values-images {
           display: block;
           margin-top: 41px;
         }
        }
      }

}
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.owl-item {
  width: 235px;
  height: 387px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    margin-top: 40px;
    img {
      width: 16px;
    }
    &:hover {
      background-color: transparent;
    }
  }

.owl-dots {
  display: none;
}

@media screen and (max-width: 415px) {
  .our_values {
    padding-top: 44px;
    &-content {
      &-title {
        font-size: 36px;
      }
    }
    .carousel-box {
      height: 319px;
      .item {
        height: 319px;
        &.our_values-images {
          margin-top: 33px;
        }
      
      }
      &.fourth {
        height: 347px;
        img {
          height: 181px;
          object-fit: cover;
        }
      }
    }
  }
}